.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(213, 127, 22);
    color: rgb(69, 30, 105);
    font-size: 23px;
}
.navbar a{
    text-decoration: none;
}
body{
    margin: 0%;
    background-image: url("https://cdn.wallpapersafari.com/95/78/HCxG6X.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar select{
    border: none;
    font-size: 18px;
    color: rgb(69, 30, 105);
    background-color: whitesmoke;
}
.section_content h1{
    text-align: center;
}