body{
    background-image: url("https://wallpapercave.com/wp/wp4430570.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d9f9fa;
    color: aliceblue;
    text-align: center;
    margin-top: 5%;
}
body a{
    border: 3px solid #542694;
    padding: 6px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    background-color: #542694;
    font-size: 25px;
    display: inline-block; /* Allows width to take effect */
    width: 14%;
    text-align: center;
    
}
body a:hover{
    background-color: transparent;
    color: #542694;
}