{% extends 'dashboard.html' %}
{% block addcss %}
    <title>add</title>
    <link rel="stylesheet" href="#">
{% endblock %}   
{% block content %}
   
        <div class="content">
            <!-- <h2>Title:</h2>
            <p>{{ndata[1]}}</p>
            
            <p>{{ndata[2]}}</p> -->
            <h2>Created At:{{ndata[3]}}</h2>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="{{ndata[1]}}" placeholder="Enter note title" readonly>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="5" placeholder="Enter note description" readonly>{{ndata[2]}}</textarea>
        </div>
        
    
</div>
   
{% endblock %}